div#canvas-frame {
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100vh;
    background-color: black;  /*#EEEEEE*/
    background: url("./images/background_black.png");
}

#myContextMenu {
    padding: 5px 10px;
    margin: 0;
    list-style: none;
    position: absolute;
    font-size: 12px;
    background-color: #1bc2ba;
}
#myContextMenu li {
    padding: 5px 0;
}
#myContextMenu a {
    text-decoration: none;
    color: #174e6c;
}
#myContextMenu a:hover {
    color: #3b93b1;
}

.contextMenu-show{
    visibility: visible;
}

.contextMenu-hide{
    visibility: hidden;
}



